body 
{
    
   background: transparent url(/images/wabg6.jpg) repeat-x 0 0;
   background-size: 100%; 
}
       
#main
{
    max-width: 800px;
    padding: 10px;
    background-color: white;
    border: 1px solid #003300;
    margin-top: 10px;
}    

hr
{
	border-color: black;
} 
       
header, section, footer, p
{
    text-align: center;    
}
       
section#survey 
{
    text-align: left;
    font: bold 16px Arial;
}


      
section#survey li
{
    list-style: none;
    font: normal 16px Arial;
}

      
.trump
{
    font-family: Georgia;
    color: #0000CC;
    font-size: 48px; 
    line-height: 115%; 
}
       
.jobs
{
    font: bold 26px Georgia;
    
}
       
.trump-image
{
    max-width: 600px;
    max-height: 399px;
}
       
.vote
{
    font: bold 18px Georgia;
    color: red;
}    

.vote span
{
	color: black;
	font-size: 16px;
}
       
.note
{
    font: bold 13px Arial; 
    color: maroon;
}    
       
.disclaimer
{
    font: normal 10.0pt Arial, sans-serif; 
    color: black;     
}

.privacy-link
{
	color: #0645AD; 
	text-decoration: underline;
	font-weight: bold; 
}

.signup-form
{
	margin: 30px;
}

.signup
{
	display: inline-block;
	width: 120px;
	text-align: right;
	margin-bottom: 10px;
}

input[type="submit"]
{
	 font-family: Arial; 
	 font-weight: 700;
	 margin-top: 15px;
	 height: 30px;
	 display: inline-block;
}


footer
{
    color: #000000;
    font: normal 10.0pt Arial, sans-serif;
}

footer a
{
	color: #000000;
}


#date
{
    font: bold 16px Tahoma;
    
}

section#newhead
{
	margin: 20px;
}
       
img.headerimg
{

}

#re
{
	border: 3px solid black;
	
}

#re div.row
{
	border: 1px solid black;
	padding: 10px;
}

#re div.row div
{
    
    
}

#re img.re
{
	 
	 max-height: 166;
	 border: 2px solid black;
}

.click-left
{
	font: bold 16px serif;
	color: black;
	text-decoration: underline;
}

.click-right
{
	font: bold 20px Georgia, serif;
    color: blue;
    text-decoration: underline;
}


.redneck
{
	font: normal 20px Impact;
	color: black;
	
}

.assistance
{
	font: bold 22px Courier;
	color: #CC0000;
}

.cheating, .eligible
{
	font: bold 18px Georgia;
    color: black;
}
   
.cheating
{
    text-decoration: underline;
}

.thankyou
{
	font: bold 24px Arial;
	color: #CC0000;
}

.red
{
	font: bold 18px Arial;
	color: red;
	text-align: left;
	margin: 25px 0;
}

.thankyou-body 
{
    text-align: left;
    font: normal 16px Arial;
}

.top-link
{
    font-size: 16px;
    
}

.bracelet-link
{
	font-size: 16px;
	font-weight: bold;
	text-decoration: underline;
	color: blue;
}
